<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="../static/login.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>
<form method="POST">

    <div>
        <input type="text" name="login" placeholder="&nbsp;Имя" autofocus required autocomplete="off"> <br><br>
        <input type='password' name="password" placeholder="&nbsp;Пароль" required autocomplete="off"> <br><br>
        <button type="submit" name="button">Отправить</button>
        <p>{{ message }}</p>
    </div>

</form>
</body>
</html>