/.idea/thebbc.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
2/.idea/.gitignore
/beliy_28.jpg
/.idea/jsonSchemas.xml
/map.gif
/streamlink-4.1.0-2-py310-x86_64.exe
/test.html
/test.js
/test.json
/test.py
